*{
    box-sizing: border-box;
}

:root{
    --hoverTextColor:rgb(244, 51, 151);
    --textColor:rgb(87, 85, 85);
}
html{
    scroll-behavior: smooth;
    /* font-size: 62.5%; */
}
body{
    margin: o;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--textColor);
}
img{
    width: 100%;
}
.header-section{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.header{
    height: 75px;
    width: 100%;
    background-color: white;
    outline: 1px solid #ccc;
    /* z-index: 1000; */
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    /* position: fixed; */
    /* top: 0; */
}
.headerLeft,
.headerRight{
    display: flex;
    align-items: center;
}
.logocontainer{
    width: 1px;
    
}
.logocontainer img{
     width: 155px;
}
.searchinputContainer{
    width: 400px;
    height: 45px;
    outline: 1px solid rgb(126, 126, 126);
    display: flex;
    margin-left: 25px;
    border-radius: 3px;
    align-items: center;
    padding: 10px;
    position: relative;
}
.searchIcon{
    width: 20px;
    margin: 6px;
}
form{
    width: 100%;
}
.inputSerch{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}
#closeSearch{
    display: none;
}

.searchRecentModal{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 45px;
    background-color: white;
    height: 375px;
    width: 100%;
    display: none;
    padding: 15px;
    box-shadow: 0px 0px 5px rgba(0,  0,  0,  0.3);
}

.searchinputContainer:focus-within .searchRecentModal{
    display: block;
}

.recenticon{
    width: 20px;
    margin-right: 10px;
}
.recentitem{
    display: flex;
    align-items: center;
}
    /* right */
.mobileicon{
    width: 15px;
    margin: 5px;
}
.downloadContainer{
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
    position: relative;
}
.downloadContainer:hover{
    color:var(--hoverTextColor);
    cursor: pointer;
    
}
.downloadBtn{
    display: block;
    width: 180px;
    margin-top: 5px;
}
.downlodHoverBtnContainer{
    position: absolute;
    bottom: 0;
    top: 40px;
    /* box-shadow: 0px 0px 5px rgba(0,  0,  0,  0.3); */
    width: 200%;
    /* background-color: red; */
    display: none;
    height: 200px;
    padding: 10px;
    margin-left: -30px;
    color: var(--textColor);
    background-color: white;
    
}
.downloadContainer:hover  .downlodHoverBtnContainer,
.downloadContainer:focus  .downlodHoverBtnContainer{
    display: block;
}
.downlodHoverBtnContainer h2{
    font-size: 19px;
}
.downloadContainer p{
    margin: 0;
    padding: 0;
    font-size: 17px;

}
.profileAndCart{
    display: flex;
    align-items: center;
}
.profileIcon,
.CartIcon{
    width: 20px;
}
.profileAndCart p {
    margin: 0;
    padding: 0;

}
.profileAndCart:hover,
.profileAndCart:focus{
    color: var(--hoverTextColor);

}
.profileContainer,
.CartContainer{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.becomeSupplierContainer{
    padding: 0px 30px;
    border-left: 1.5px solid #ccc;
    border-right: 1.5px solid #ccc;
    font-size: 17px;
}

/* navigations */

.navbar{
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 54px;
    z-index: 1000;
   
   
}
nav ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
    margin: 0;
    position: relative;
}
nav ul li{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    /* background-color: red; */
    border-bottom: 2px solid transparent;
    cursor: pointer;
  
}
nav ul li:hover{
    color: var(--hoverTextColor);
    border-bottom: 4px solid var(--hoverTextColor);
}
/* modul box submenu */
.subMenu{
    position: absolute;
    /* width: 220vh; */
    /* height: 320px; */
    top: 50px;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;  
    display: none;
    margin: 0px 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    /* background-color: red; */
 }
 nav ul li:hover  .subMenu{
    display: block;

 }
 .subMenu p{
    color: var(--textColor);
    display: flex;

 }
 

 /* loerst price */
 .lowestpriceContainer{
    display: flex;
    margin: 50px auto;
    max-width: 1100px;
 }
 .lowestpriceContainer h1{
    font-size: 40px;
    margin: 0;
    color: rgb(36,  31,  31);

 }
 .lowestPrice_texe{
    width: 50%;
    padding: 25px 0 0 25px;
 }
 .lowestPrice_image{
    width: 50%;
 }
.lowestprice_icon{
    width: 30px;
    border-radius: 40px;
    background-color: rgb(238,  133, 187);
}
.lowestPriceWhay{
    display: flex;
    height: 50px;  
    margin: 20px 0px;   
}
.lowestpriceItem{
    padding:  0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ccc ;

}
.lowestpriceItem p{
    padding-left: 10px;
}
.downlodApp_Container{
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: var(--hoverTextColor);
    border: none;
    outline: none;
    padding: 0px 10px;
    border-radius: 5px;
    color: white;

}
.downlodApp_Container p{
    padding: 0px 20px;
}

/* topCategoriesFrom */

.topCategoriesFrom{
    width: 1100px;
    margin: auto;
}
.topCategoriesHeading{
    display: flex;
    align-items: center;
}
.horizontalLine{
    padding: 1px;
    background-color: var(--hoverTextColor);
    width: 50%;
}
.topCategoriesHeading h1{
    width: max-content;
    width: 1050px;
    color: rgb(8, 8, 8);
    font-size: 38px;
    margin: 0;
}
.topCategoriesImage{
    width: 100%;
    height: 500px;
    background-image: url("https://images.meesho.com/images/marketing/1649759774600.jpg");
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    
}
.topCategoriesImage img{
    max-width: 300px;
    margin: 10px;
    bottom: 0;
}
.topCategoriesImage img:first-child{
    max-width: 400px;
}

.essentialContainer{
    width: 100%;
    height: 500px;
    background-color: 400px;
    margin-top: 50px;
    background-image: url("https://images.meesho.com/images/marketing/1664343269674.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.essentialContainer img{
    max-width: 180px;
}

.essential_item{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.essen_btn{
    margin-left: 100px;
    margin-top: 20px;
}

/* becomereseller_class */

.becomeSellerBanner_Container{
    margin: 50px 0px;
    position: relative;

}
.becomeSellerBanner_Container img{
    width: 100%;
    
}
.becomeSeller_content{
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   padding: 40px 0px;
}    
.becomeSeller_Content_Content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.becomeseller_AppDownlod{
    position: relative;
     width: 150px;
     height: 50px;
     background-color: black;
     margin: 10px;
     padding: 5px;
     border-radius: 5px;
}
.becomeseller_AppDownlod img{
    width: 100%;
    height: 100%;
    background-color: black;
}
.becomeSeller_Content_Content h2{
    color: rgb(85, 133, 248);
    font-size: 30px;
    margin-bottom: 0;
}
.becomeSeller_Content_Content h1{
    color: var(--hoverTextColor);
    font-size: 40px;
    width: 50%;
    text-align: right;

}
.becomerSeller_appDownload_Container{
    display: flex;
}

         /* Meesho_Supplier_Container */

.meesho_benifit_Image{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    /* margin-top: 10px; */
    
}
.mesho_supplier-benifit{
    display: flex;
    align-items: center;
    padding: 0px 40px;
    border-right: 2px solid white;
    height: 25px;
}
.mesho_supplier-benifit:first-child{
    padding: 0;
    padding-right: 40px;
}
.Meesho_Supplier_benifit_Container{
    display: flex;
    align-items: center;
    margin: 40px 0px;
}
.Meesho_Supplier_Container{
    position: relative;
}
.Meesho_Supplier_container_content{
    position: absolute;
    top: 0;
    padding: 20px 20px;
    color: white;
}
.Signup_btn_now{
    background-color: white;
    color: var(--hoverTextColor);
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
}

/* Product_Container_You */
.Product_Container_You{
    min-height: 500px;
    /* background-color: #ccc; */
    padding: 10px;
}
.Product_Container_You_Content{
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100%;
    gap: 30px;
}
.Product_Category_You_aside{
    /* background-color: red; */
    height: 100%;

}
.Product_Category_display{
    /* background-color: green; */
    height: 100%;
    display: flex;
    
}
.Search_Category_input{
    display: flex;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.Search_Category_input input{
    font-size: 18px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0px 10px;
}
.Search_Category_input input::placeholder{
    font-size: 15px;

}
.disply_Category_list{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}
.disply_Category_list label{
    margin: 3px 0px;
    /* background-color: red; */
    text-transform: capitalize;
}

.productCard{
    /* border: 1px solid #ccc; */
    max-width: 220px;
    padding: 10px;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1),
    -1px -1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
   
    
}
.product_image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.product_image img{
    /* width: 200px; */
    width: fit-content;
    height: 130px;

}
.product_price{
    font-weight: 550;
    font-size: 22px;
    color: black;
}
.product_name{
    text-transform: capitalize;
}
.first_productContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 140px;

    
}

.second_productContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 317px;
    padding-bottom: 20px;
}

.third_productContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 324px;
    padding-bottom: 20px;
    
}

.forth_productContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 317px;
    padding-bottom: 20px;
}
.fifth_productContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 317px;
    padding-bottom: 20px;

}
.sixth_productContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 317px;
    padding-bottom: 20px;

}
.seventh_productContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 317px;
    padding-bottom: 20px;

}
.eight_productContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 325px;
    padding-bottom: 20px;


}
.nineth_productContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 317px;
    padding-bottom: 20px;

}
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 44px;
    padding: 55px;
    background-color: rgb(246,  243, 243);
}
.footer .icons{
    display: flex;
}
.footer .list .icons i{
    margin-inline: 11px;
    font-size: 33px;

}
.footer .list .fc{
    color: rgb(0, 110, 255);
}
.footer .list .inst{
    color: rgb(252, 26, 26);
}

.footer .list .twt{
    color: red;
}

.footer .list .yt{
    color: rgb(0, 68, 255);
}




